<!DOCTYPE html>
<html ng-app="domicileApp">
<head>
    <title>Domicile</title>
    <link href="~/Content/Css/material.css" rel="stylesheet"/>
    <link href="~/Content/Css/md-data-table-style.css" rel="stylesheet" />
    <link href="~/Content/Css/app.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <a href="#!/services">Services</a>
    </div>

    <div ng-view></div>

    <script src="~/Content/Libraries/jquery.js"></script>
    <script src="~/Content/Libraries/lodash/lodash.js"></script>
    <script src="~/Content/Libraries/angular/angular.js"></script>
    <script src="~/Content/Libraries/angular/angular-route.js"></script>
    <script src="~/Content/Libraries/angular/angular-animate.js"></script>
    <script src="~/Content/Libraries/angular/angular-aria.js"></script>
    <script src="~/Content/Libraries/angular/angular-material.js"></script>
    <script src="~/Content/Libraries/angular/angular-sanitize.js"></script>
    <script src="~/Content/Libraries/ng-material-icons/material-icons.js"></script>
    <script src="~/Content/Libraries/ng-md-data-table/md-data-table.js"></script>
    <script src="~/Content/Libraries/ng-md-data-table/md-data-table-templates.js"></script>
    <script src="~/Content/Scripts/app.js"></script>
</body>
</html>
